<!-- Modal -->
<div class="modal fade" id="changeCity" tabindex="-1" role="dialog" aria-labelledby="changeCityTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changeCityTitle">Выберите ваш город</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% var subdomains = site.data.regions; %>
        <ul class="city-list">
          <% if (isMainDomain(config.subdomain.alias)) { %>
            <% for (subdomain in subdomains) { %>
              <li class="city-list__item">
                <a href="#" class="change-city-link change-city-link_cookie" data-alias="<%= subdomains[subdomain]['alias'] %>">
                  <%= subdomains[subdomain]['city'] %>
                </a>
              </li>
            <% } %>
          <% } else { %>
          <% for (subdomain in subdomains) {
              var currentUrl = config.protocol + '://' + subdomains[subdomain]['alias'] + '.' + config.main_domain + url_for(page.path).replace('index.html',''); 
              var currentTitle = h1Escape(page) + ' ' + subdomains[subdomain]['inCity']; %>
              <li class="city-list__item">
                <a class="change-city-link" title="<%= currentTitle %>" href="<%= currentUrl %>"><%= subdomains[subdomain]['city'] %></a>
              </li>
            <% } %>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</div>